<div class="container">
  <div class="main">
    <div class="header">
      <h2>BUZZINGA</h2>
      <div class="buzzer-container">
        <img src="assets/buzzer.png" alt="Buzzer image" class="buzzer"/>
      </div>
    </div>
   
  <div class="name-cont">
    <!-- <h3>Set Your Name</h3> -->
    <input [(ngModel)]="userName" placeholder="Enter your name" />
    <button (click)="setName()">Set My Name</button>
  </div>
  <app-welcome-modal *ngIf="showWelcomeModal" [userName]="userName"></app-welcome-modal>
  <br/> <hr class="divider">
    <h2>LET'S PLAY !</h2>
    <div class="room-cont">
      <input [(ngModel)]="joinRoomId" placeholder="Enter Room ID to Join" />
      <button (click)="joinRoom()">Join Room</button>
      <br/><br/>
      <button (click)="createRoom('single')">Create Room (Single Buzz)</button>
      <br> <br>
      <button (click)="createRoom('multiple')">Create Room (Multiple Buzzes)</button>
      <br>
    </div>
  </div>
</div>
 <!-- <div class="sidebar left">
    <h3>Live Users</h3>
    <ul>
      <li *ngFor="let user of users">
        <img src="assets/listening_6683916.png" alt="User Icon" class="user-icon" />
        <span class="user-name">{{ user.name }}</span> 
      </li>
    </ul>
  </div> -->

    <!-- <div class="sidebar right">
    <h3>Buzzer Events</h3>
    <ul>
      <li *ngFor="let event of buzzerEvents" class="buzzer-event">
        {{ event.name }}: {{ event.timestamp }}
      </li>
    </ul>
  </div> -->