.container{
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: 40%;
    padding: 2%  0%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

 
.header{
    padding: 1% 1%;
}

.header img{
     width: 50%;
     height: auto;
}

.name-cont{
    padding:3% 1%;
}

.name-cont input{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2%;
    margin: 2% 5%;
    font-size: large;
    border: none;
}

.name-cont button{
    padding: 2%;
    font-size: large;
    background-color: rgb(64, 0, 123);
    cursor:pointer;
    color:white;
    border: none;
    border-radius: 5%;
}

button:hover{
    background-color: rgb(83, 12, 150);
    transform: scale(1.09);
}

.room-cont input{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2%;
    margin: 2% 5%;
    font-size: large;
}

.room-cont button{
    padding: 2%;
    font-size: large;
    background-color: rgb(64, 0, 123);
    cursor:pointer;
    color:white;
    border: none;
    border-radius: 5%;
}

.divider {
    border: 0;
    height: 3px;
    background: #e39292;
  }