body {
  background-color: #0d0a38; /* Dark Purple Background */
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #2e2e2e; /* Dark Grey Background */
  color: #fff;
  padding: 20px;
  width: 20%;
}

.sidebar.left {
  border-right: 2px solid #444;
}

.sidebar.right {
  border-left: 2px solid #444;
}

.sidebar h3 {
  margin-top: 0;
}

.user-icon {
  width: 44px; /* Adjust icon size */
  height: 44px;
  vertical-align: middle;
  margin-right: 10px;
}

.user-name {
  color: #ffcc00; /* Default username color */
  /* Add random color functionality with JavaScript if needed */
  font-size: 30px;
}

/* Main Area Styles */
.main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.main h2 {
  color: #fff;
  margin-bottom: 20px;
}

.buzzer-container {
  position: relative;
  display: inline-block;
}

.buzzer {
  width: 400px; 
  cursor: grab;
  transition: transform 0.5s;
}

.buzzer:active {
  transform: scale(0.9); 
}


input, button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input {
  width: 80%;
  background-color: #444;
  color: #fff;
}
/* 
button {
  background-color: #6a0dad;
  color: #fff;
  cursor:grab;
} */


.buzzer-event {
  margin-bottom: 10px;
  font-style: italic;
  color: #67c435; 
  font-size: 30px;
}

button:hover, .buzzer:hover {
  opacity: 0.8;
}

/* .invite{
  color:black;
 
 
  font-size: 40px;
}

.invite ul{
  list-style: none;
  background-color:#c5c5ff;
}

.invite span{
  font-size: 20px;
  margin: 20%;
  background-color:#c5c5ff;
} */

.invite{
  height: 200px;
  width: 500px;
  margin:auto;
  margin-top: 10%;
  border-radius: 5px;  
  span{
    font-family:Arial, Helvetica, sans-serif;
    padding: 12%;
    font-size: 20px;
  }

  i{
    font-size: 40px;
  }
}


.invite h2{
  color: #464676;
}

.invite ul{
  list-style: none;
}

.invite li{
  padding: 2%;
}

.invite-list{
  background-color: #c5c5ff;
}

.fa-solid .fa-copy .copy-icon{
  margin: 2px;
  padding: 2px
}
button {
  padding: 2%;
  font-size: large;
  background-color: rgb(64, 0, 123);
  cursor:pointer;
  color:white;
  border: none;
  border-radius: 5%;
}