<div class="welcome-page">
    <img src="assets/AppName.png" alt="App Name" class="app-name-image" />
    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGN3eW40cXIwNTF0d3VsYW9hM2xvbnZrMjBsOXo0MjI3eWdkbGQ3ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vFnxro4sFV1R5b95xs/giphy.webp" alt="App intro " style="height: 50%;width: 40%; margin-top: 5%;" class="app-image" />
     <!-- <video src="../assets/buzeer.webm" ></video> -->
    <button (click)="navigateToApp()" class="redirect-button">Go to App</button>
  </div>
  